%article.video_category
  %header
    %h3= params[:search]
  .videos.row
    - @results.each do |vid|
      .video.col-sm-2
        = link_to video_path(vid.id) do
          %img(src="/tmp/#{vid.url}")
